<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>महर्षि कुशज्योतिष अनुसंधान केन्द्र</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <div class="logo-holder logo">
                <a href="">
                    <h3>mkjrc</h3>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                सूचि
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#services">सेवाएं</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">जानकारी संग्रह</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">मेरे बारे में</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" href="#form1">संपर्क करें</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">महर्षि कुशज्योतिष अनुसंधान केन्द्र <br>9013387725</div>
            <div class="masthead-heading text-uppercase">विशेषज्ञ कर्मकाण्ड, ज्योतिषज्ञ, शिक्षाचार्य</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">और जाने</a>
        </div>
    </header>
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading">मेरे बारे में</h2>
            </div>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-thumbnail" src="assets/img/about-me.jpg" alt="Pandit Vinod Sharma" />
                        <h4>Pandit Vinod Sharma</h4>
                        <p>10 years vast and deep experience in astrology.</p>
                        <p>All India 3rd position in Purohitya (कर्मकाण्ड) S.L.B.S.R.S.V.</p>
                        <p>ADDRESS: HOUSE NO. 01, PRACHIN HANUMAN MANDIR, DELHI POLICE SECURITY HEADQUARTERS, </p>
                        <p>MAIN LINE, VINAY MARG, CHANAKYA PURI, NEW DELHI-110021.</p>
                        <p>NEAR C.S.O.I. CLUB. प्रधानमंत्री आवास (श्रीमान नरेंद्र मोदी जी), नेहरू पार्क, अशोका होटल</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <a class="btn btn-dark btn-social" href="https://wa.me/9013387725" aria-label="WhatsApp">
                                <i class="fab fa-whatsapp"></i>
                            </a><br>
                            <label>9013387725</label>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <a class="btn btn-dark btn-social mx-2" href="https://t.me/mkjrc1008" aria-label="Telegram">
                                <i class="fab fa-telegram"></i>
                            </a><br>
                            <label>9013387725</label>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <a class="btn btn-dark btn-social mx-2" href="mailto:mkjrc1008@gmail.com"
                                aria-label="Email">
                                <i class="fa-solid fa-envelope"></i>
                            </a><br>
                            <label>mkjrc1008@gmail.com</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">सेवाएं</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-5">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#jyotish-modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img src="assets/img/services/jyotish-service.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <h4 class="my-3">ज्योतिषज्ञ</h4>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#marriage-modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img src="assets/img/services/rishte-service.png" class="img-fluid" />
                        </a>
                    </div>
                    <h4 class="my-3">ज्योतिषज्ञ</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">जानकारी संग्रह</h2>
            </div>
            <div class="row text-center p-5">
                <div class="col-md-12">
                    <img src="assets/img/on-demand.jpeg" class="img-fluid" />
                </div>
            </div>
            <div class="row">
                <% for(var i=1; i <=4; i++) { %>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio-modal-<%=i%>">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img src="assets/img/portfolio/<%=i%>.jpeg" class="img-thumbnail" />
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-modal modal fade" id="portfolio-modal-<%=i%>" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg"
                                        alt="Close modal" /></div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <div class="modal-body">
                                                <img class="img-fluid d-block mx-auto"
                                                    src="assets/img/portfolio/<%=i%>.jpeg" />
                                                <button class="btn btn-primary btn-xl text-uppercase"
                                                    data-bs-dismiss="modal" type="button">
                                                    <i class="fas fa-xmark me-1"></i>
                                                    बंद करें
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; <a href="http://www.mkjrc.com">mkjrc.com</a> 2023
                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://www.youtube.com/channel/UCCqUFVFabDhttngUwalwSYg" aria-label="Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="btn btn-dark btn-social mx-2" href="https://fb.me/e/U6qEoK8D" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <%- include('includes/jyotish-details'); %>
        <%- include('includes/marriage-details'); %>
            <%- include('includes/contact'); %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="js/scripts.js"></script>

</html>