<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="महर्षि कुशज्योतिष अनुसंधान केन्द्र" />
    <meta name="author" content="Vinod Kumar Sharma" />
    <title>महर्षि कुशज्योतिष अनुसंधान केन्द्र</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <%- include('includes/styles'); %>
</head>
<body id="page-top">
    <%- include('includes/menu'); %>
    <%- include('includes/home/header'); %>
    <%- include('includes/home/about-me'); %>
    <%- include('includes/home/services'); %>
    <%- include('includes/home/portfolio'); %>
    <%- include('includes/footer'); %>
    <%- include('includes/modals/jyotish-details'); %>
    <%- include('includes/modals/marriage-details'); %>
    <%- include('includes/modals/contact'); %>
</body>
<%- include('includes/scripts'); %>
</html>